<main role = "main" class = "container-fluid">
    <div class = "row">
        <div class = "col-8">
            <h1 class = "title">Sanity Series</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus augue, blandit non interdum sed, convallis et odio. Cras ultricies sollicitudin libero eget fringilla. Fusce a nulla vulputate, accumsan nisl vitae, egestas lorem. Proin lorem tortor, sagittis a volutpat a, posuere ac ante. In fringilla efficitur tortor id interdum. Integer non nulla vitae lacus viverra molestie rutrum eu sapien.

            <div class = "row mt-4">
                <div class = "col-4">
                    <div class = "card">
                        
                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
                <div class = "col-4">
                    <div class = "card">

                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
                <div class = "col-4">
                    <div class = "card">

                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
            </div>
        </div>

        <aside class = "col-4 text-right">
            <div class = "side">
                <div class = "pb-5">
                <h2 class = "title">Upcoming Series</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                </div>
                <div class = "pb-5">
                <h2 class = "title">Announcement</h2>
                Sed vitae libero felis. Aenean porttitor venenatis consequat. Aliquam erat volutpat. Aenean sed mi sed lorem egestas finibus suscipit id.
                </div>
            </div>
        </aside>
    </div>

    <div class = "row">
        <div class = "col-8">
            <h1 class = "title">Other Series</h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus augue, blandit non interdum sed, convallis et odio. Cras ultricies sollicitudin libero eget fringilla. Fusce a nulla vulputate, accumsan nisl vitae, egestas lorem. Proin lorem tortor, sagittis a volutpat a, posuere ac ante. In fringilla efficitur tortor id interdum. Integer non nulla vitae lacus viverra molestie rutrum eu sapien.

            <div class = "row mt-4">
                <div class = "col-4">
                    <div class = "card">

                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
                <div class = "col-4">
                    <div class = "card">

                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
                <div class = "col-4">
                    <div class = "card">

                    </div>
                    <div class = "card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>