<div class = "navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
  <ul class = "navbar-nav mr-auto text-light">
    kunyare logo
  </ul>
  <ul class = "navbar-nav ml-auto">
    <li class = "nav-item active">
      <a class = "nav-link text-light" href="/">Home</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link text-light" href="/aboutUsComponent">About Us</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link text-light" href="/theTeamComponent">The Team</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link text-light" href="/contactUsComponent">Contact Us</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link text-light" href="/eventsComponent">Events</a>
    </li>
  </ul>
</div>