<div class = "navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
  <ul class = "navbar-nav mr-auto text-light">
    kunyare logo
  </ul>
  <ul class = "navbar-nav ml-auto">
    <li class = "nav-item">
      <a class = "nav-link" routerLink="/homeComponent" routerLinkActive="active">Home</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link" routerLink="/aboutUsComponent" routerLinkActive="active">About Us</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link" routerLink="/theTeamComponent" routerLinkActive="active">The Team</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link" routerLink="/contactUsComponent" routerLinkActive="active">Contact Us</a>
    </li>
    <li class = "nav-item">
      <a class = "nav-link" routerLink="/seriesComponent" routerLinkActive="active">Series</a>
    </li>
  </ul>
</div>

