<h1>Charles</h1>
<nav>
  <ul>
    <li><a routerLink="/homeComponent" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/aboutUsComponent" routerLinkActive="active">About Us</a></li>
    <li><a routerLink="/theTeamComponent" routerLinkActive="active">The Team</a></li>
    <li><a routerLink="/contactUsComponent" routerLinkActive="active">Contact Us</a></li>
    <li><a routerLink="/seriesComponent" routerLinkActive="active">Series</a></li>
    <li><a routerLink="/eventsComponent" routerLinkActive="active">Events</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>