.hw100 {
height: 100vh;
width: 100%;
}
.charlesBridge {
    background-image: url("../../assets/images/march-boston-skyline.jpg");
    background-size: cover;
}
.charlesWhite {
    color: white;
}
.charlesYellow {
    color: rgb(224, 166, 5); 
}
.jumboContent h1 {
    font-size: 4em;
    font-family: playfair-display, serif;
font-weight: 700;
font-style: italic;
} 
.jumboContent p {
    width: 100%;
    text-align: start;
    font-size: 1.6em;
    font-family: 'Cormorant Garamond', serif;
}
.playFair {
    font-family: playfair-display, serif;
font-weight: 700;
font-style: italic;
}
#whyCharles > .row > .flex-column {        
    justify-content: center;
    align-items: flex-start;
    text-align: start;
} 
#whyCharles > .row > .flex-column > h1, #whyCharles > .row > .flex-column > p {
    margin: .5em 0em;
} 
#whyCharles > .row > .flex-column > h1 {
    letter-spacing: 5px;
}
#whyCharles > .row > .flex-column > p {
    line-height: 33px;
}
@media (max-width: 767px) { 
    .jumboContent h1 {
        font-size: 3.5em;
    }
    .jumboContent p {
        font-size: 1.4em;
    }
    #whyCharles > .row > .flex-column {        
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
 }
 @media (max-width: 576px) {
    .jumboContent {
        text-align: center;
    }
    .jumboContent h1 {
        font-size: 2.5em;
    }
    .jumboContent p {
        text-align: center;
        font-size: 1.2em;
    }
    
  }