<main>
    <div class="d-flex jumbotron hw100 justify-content-center align-items-center charlesBridge">
        <div class="jumboContent d-flex justify-content-center align-items-center  flex-column">
            <h1><span class="charlesWhite">Telling Stories</span><br><span class="charlesYellow">Transforming Lives</span></h1>
            <p class="charlesWhite">The Untold Story Is Not A Story</p>
        </div>
    </div>
    <div class="container-fluid hw100">
        <div class="row w-100 h-100">
            <div class="col-xl-6  col-md-12 justify-content-center align-items-center d-flex flex-column p-5">
              <h1>Why The Charles?</h1>
              <p>The name of the platform takes inspiration from the 
                Charles River in Cambridge, Massachusetts. Literally 
                speaking, the idea of the platform was conceived inside a Harvard dormitory overlooking river. As the river was flowing, we gazed outside of our window and watched strangers, friends, colleagues, and classmates pass by. We realized that there are many stories that are continuously being produced, yet solemnly shared. So, for a moment, we want to stop this current and cherish it for all that it is.</p>
            </div>
            <div class="col-xl-6 col-md-12">
                <h1>Why The Charles?</h1>
            </div>
          </div>
      </div>
</main>